<!DOCTYPE html>
<html>
    <head>
        <title>Swiss Medica</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFMB84204P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YFMB84204P');
        </script>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 offset-md-1 mt-3">
                    <div id="events"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 offset-md-1">
                    <button class="btn btn-custom mt-3" id="download_pivot_data_sm">Download pivot data SM</button>
                    <button class="btn btn-custom mt-3" id="download_pivot_data_cdv">Download pivot data CDV</button>
                    <div class="button-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text mr-3" id="inputGroup-sizing-default-sm">{{ sm_df }} - {{ sm_dt }}</span>
                            <input type="datetime-local" id="time-sm" value="{{ sm_curr }}" class="form-control datetime-input" aria-label="Default" aria-describedby="inputGroup-sizing-default-sm">
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-custom mr-3" id="get_amo_data_sm">Load Amo data SM</button>
                            <button class="btn btn-custom" id="stop_get_amo_data_sm">Stop Loading Amo data SM</button>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-custom mr-3" id="build_pivot_data_sm">Build pivot data SM</button>
                            <button class="btn btn-custom" id="stop_build_pivot_data_sm">Stop building pivot data SM</button>
                        </div>
                    </div>
                    <div class="button-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text mr-3" id="inputGroup-sizing-default-cdv">{{ cdv_df }} - {{ cdv_dt }}</span>
                            <input type="datetime-local" id="time-cdv" value="{{ cdv_curr }}" class="form-control datetime-input" aria-label="Default" aria-describedby="inputGroup-sizing-default-cdv">
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-custom mr-3" id="get_amo_data_cdv">Load Amo data CDV</button>
                            <button class="btn btn-custom" id="stop_get_amo_data_cdv">Stop Loading Amo data CDV</button>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-custom mr-3" id="build_pivot_data_cdv">Build pivot data CDV</button>
                            <button class="btn btn-custom" id="stop_build_pivot_data_cdv">Stop building pivot data CDV</button>
                        </div>
                    </div>
                    <button class="btn btn-custom mt-3" id="start_autocalls">Start autocalls</button>
                    <button class="btn btn-custom mt-3" id="set_telegram_webhooks">Set Telegram webhooks</button>
                </div>
            </div>
        </div>
        <!-- Includes -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/64d0945994cf5d49dc68dd99/1h77c6vne';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        function getUTMParameters() {
            var params = {};
            window.location.search.substring(1).split('&').forEach(function(pair) {
                var keyValue = pair.split('=');
                params[keyValue[0]] = decodeURIComponent(keyValue[1] || '');
            });
            return params;
        }
        var utmParams = getUTMParameters();
        Tawk_API.onChatStarted = function(){
            // Set custom variables for UTM parameters
            for (var key in utmParams) {
                if (utmParams.hasOwnProperty(key) && key.startsWith('utm_')) {
                    Tawk_API.setAttributes({
                        key: utmParams[key]
                    }, false);
                }
            }
            if (typeof(gtag) !== 'undefined') {
                gtag('send', 'event', 'Tawk', 'Chat Started');
            }
        };
        </script>
        <!--End of Tawk.to Script-->

    </body>
</html>
